<a href="https://colab.research.google.com/github/vengie/AI-and-ML-Dataset/blob/main/Anomaly_Detection_in_Cellular_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
%pwd

'/content'

In [5]:
%ls

sample_data/

In [8]:
cellular_data_train = '/content/sample_data/ML-MATT-CompetitionQT1920_train.csv'
cellular_data_test = '/content/sample_data/ML-MATT-CompetitionQT1920_test.csv'
df_train = pd.read_csv (cellular_data_train,encoding='latin-1')
#pd.set_option('display.max_columns', None)
df_train.head()

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL+DL,Unusual
0,10:45,3BLTE,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025,4.0,3.0,7,1.0
1,9:45,1BLTE,21.791,1.891,0.537,0.268,10.273,1.154,1.353,1.085,6.0,4.0,10,1.0
2,7:45,9BLTE,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995,1.0,1.0,2,1.0
3,2:45,4ALTE,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995,2.0,2.0,4,1.0
4,3:30,10BLTE,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011,2.0,1.0,3,0.0

In [9]:
cellular_data_test = '/content/sample_data/ML-MATT-CompetitionQT1920_test.csv'
df_test = pd.read_csv (cellular_data_test,encoding='latin-1')
df_test.head()

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL+DL
0,3:00,6ALTE,3.781,1.493,0.575,0.042,22.659,0.743,0.985,0.010,3.0,2.0,5.0
1,20:30,6ULTE,2.021,3.335,0.569,0.075,29.265,1.049,1.314,0.010,6.0,3.0,9.0
2,11:30,2ALTE,0.505,0.404,0.014,0.010,0.227,0.097,1.011,0.010,2.0,1.0,3.0
3,6:45,3CLTE,1.011,0.505,0.238,0.021,20.962,0.609,1.011,1.011,2.0,1.0,3.0
4,15:45,6CLTE,3.881,0.498,0.076,0.041,3.936,1.768,1.025,0.010,3.0,2.0,5.0

In [10]:
df_train.shape

(15277, 14)

In [11]:
df_train.columns

Index(['Time', 'CellName', 'PRBUsageUL', 'PRBUsageDL', 'meanThr_DL',
       'meanThr_UL', 'maxThr_DL', 'maxThr_UL', 'meanUE_DL', 'meanUE_UL',
       'maxUE_DL', 'maxUE_UL', 'maxUE_UL+DL', 'Unusual'],
      dtype='object')

In [12]:
df_train.isnull().sum()

Time            0
CellName        0
PRBUsageUL      0
PRBUsageDL      0
meanThr_DL      0
meanThr_UL      0
maxThr_DL       0
maxThr_UL       0
meanUE_DL       0
meanUE_UL       1
maxUE_DL       39
maxUE_UL       39
maxUE_UL+DL     4
Unusual         1
dtype: int64

In [13]:
df_train[df_train.isna().any(axis=1)]

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL+DL,Unusual
51,16:15,6ALTE,13.743,4.042,2.113,0.100,44.483,1.110,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
1290,14:30,3BLTE,22.837,2.324,0.500,0.090,24.374,0.847,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
2082,6:15,7ULTE,0.199,1.791,0.693,0.032,15.634,0.353,0.000,0.0,NaN,NaN,#¡VALOR!,1.0
2842,16:15,5ALTE,9.903,1.516,0.466,0.032,24.576,0.931,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
3384,16:15,7CLTE,0.404,0.909,0.216,0.042,9.730,2.714,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
3982,14:15,7VLTE,2.627,4.446,0.693,0.080,15.266,0.640,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5089,13:00,6ULTE,2.930,4.244,0.939,0.094,24.215,0.965,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5172,5:15,5ALTE,0.909,0.505,0.265,0.025,9.011,0.358,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5190,17:00,7WLTE,2.223,4.143,0.673,0.070,23.069,0.618,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5348,14:30,1ALTE,25.364,2.324,0.737,0.113,23.183,1.430,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5479,13:00,10ALTE,20.109,2.829,0.779,0.098,19.484,0.986,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
5582,14:00,4CLTE,17.313,1.891,0.654,0.061,38.028,1.509,0.000,0.0,NaN,NaN,NaN,1.0
6538,6:15,7BLTE,0.199,0.796,0.191,0.032,14.254,1.217,0.000,0.0,NaN,NaN,#¡VALOR!,1.0
7141,6:15,9ALTE,0.498,0.398,0.045,0.011,0.634,0.124,0.000,0.0,NaN,NaN,#¡VALOR!,1.0
7328,8:00,7WLTE,0.707,2.223,0.649,0.039,29.168,0.637,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
7502,16:45,5BLTE,20.917,1.819,0.527,0.064,11.204,0.770,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
7612,16:15,3ALTE,20.513,3.032,0.539,0.092,10.645,0.691,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
7718,6:15,7WLTE,0.299,0.896,0.086,0.014,2.212,0.202,0.000,0.0,NaN,NaN,#¡VALOR!,1.0
7759,14:30,3CLTE,12.631,1.718,0.597,0.065,36.534,2.085,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
8814,17:00,7ULTE,4.446,9.600,1.153,0.107,25.413,1.673,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
9146,16:15,7VLTE,1.617,2.728,0.246,0.041,7.377,0.511,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
9196,19:30,10CLTE,7.065,1.493,0.319,0.029,16.186,0.722,0.000,0.0,NaN,NaN,NaN,1.0
9813,13:00,6CLTE,7.074,1.011,0.255,0.053,22.153,2.080,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
10335,14:15,7CLTE,0.808,2.526,0.856,0.077,34.073,1.338,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
10461,16:15,1CLTE,32.740,7.175,2.027,0.151,40.322,2.540,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
10621,13:00,5CLTE,28.799,7.478,2.580,0.204,41.172,1.499,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
11107,12:00,4BLTE,29.001,5.255,1.313,0.112,39.419,1.016,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
11153,14:30,2ALTE,0.100,0.398,0.003,0.015,0.004,0.024,0.000,0.0,NaN,NaN,#¡VALOR!,1.0
11292,16:00,4BLTE,31.224,5.962,2.193,0.217,40.308,0.929,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
11706,14:30,5CLTE,22.332,2.526,0.696,0.087,38.818,0.772,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
12200,7:15,7BLTE,0.101,0.404,0.027,0.008,0.694,0.135,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
12439,13:00,8ALTE,25.566,4.951,1.394,0.127,33.040,3.941,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
13150,16:00,7CLTE,0.404,1.112,0.391,0.036,10.788,0.777,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
13221,14:30,10BLTE,7.882,1.718,0.690,0.039,59.058,0.492,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
13911,16:00,3ALTE,20.513,3.032,0.762,0.104,16.616,0.858,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
13937,6:15,10CLTE,2.090,0.498,0.113,0.023,4.431,0.583,0.000,0.0,NaN,NaN,NaN,1.0
14603,17:00,7BLTE,0.505,1.415,0.492,0.071,15.179,3.871,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
15173,14:30,10ALTE,25.263,3.234,0.864,0.136,16.233,0.843,0.000,0.0,NaN,NaN,#¡VALOR!,0.0
15276,4:45,4ALTE,1.314,0.404,0.005,0.004,0.156,0.041,1.021,NaN,NaN,NaN,NaN,NaN

In [24]:
df_train_clean = df_train.fillna(axis=0,method='ffill')
df_train_clean

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL+DL,Unusual
0,10:45,3BLTE,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025,4.0,3.0,7,1.0
1,9:45,1BLTE,21.791,1.891,0.537,0.268,10.273,1.154,1.353,1.085,6.0,4.0,10,1.0
2,7:45,9BLTE,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995,1.0,1.0,2,1.0
3,2:45,4ALTE,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995,2.0,2.0,4,1.0
4,3:30,10BLTE,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011,2.0,1.0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15272,15:15,9ALTE,11.621,2.021,0.627,0.200,32.665,12.196,1.334,1.071,5.0,4.0,9,0.0
15273,19:45,1CLTE,31.022,5.154,1.284,0.219,18.105,6.947,1.546,1.455,7.0,8.0,15,0.0
15274,18:00,6ALTE,10.945,4.478,1.952,0.066,34.726,1.081,1.174,0.010,5.0,3.0,8,1.0
15275,1:00,6ULTE,0.808,1.112,0.210,0.044,2.947,0.501,1.051,0.010,4.0,2.0,6,0.0
15276,4:45,4ALTE,1.314,0.404,0.005,0.004,0.156,0.041,1.021,0.010,4.0,2.0,6,0.0

In [25]:
df_train_clean.isnull().sum()

Time           0
CellName       0
PRBUsageUL     0
PRBUsageDL     0
meanThr_DL     0
meanThr_UL     0
maxThr_DL      0
maxThr_UL      0
meanUE_DL      0
meanUE_UL      0
maxUE_DL       0
maxUE_UL       0
maxUE_UL+DL    0
Unusual        0
dtype: int64

In [26]:
df_train_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15277 entries, 0 to 15276
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         15277 non-null  object
 1   CellName     15277 non-null  object
 2   PRBUsageUL   15277 non-null  float64
 3   PRBUsageDL   15277 non-null  float64
 4   meanThr_DL   15277 non-null  float64
 5   meanThr_UL   15277 non-null  float64
 6   maxThr_DL    15277 non-null  float64
 7   maxThr_UL    15277 non-null  float64
 8   meanUE_DL    15277 non-null  float64
 9   meanUE_UL    15277 non-null  float64
 10  maxUE_DL     15277 non-null  float64
 11  maxUE_UL     15277 non-null  float64
 12  maxUE_UL+DL  15277 non-null  object
 13  Unusual      15277 non-null  float64
dtypes: float64(11), object(3)
memory usage: 1.6+ MB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9158 entries, 0 to 9157
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         9158 non-null   object
 1   CellName     9158 non-null   object
 2   PRBUsageUL   9158 non-null   float64
 3   PRBUsageDL   9158 non-null   float64
 4   meanThr_DL   9158 non-null   float64
 5   meanThr_UL   9158 non-null   float64
 6   maxThr_DL    9158 non-null   float64
 7   maxThr_UL    9158 non-null   float64
 8   meanUE_DL    9158 non-null   float64
 9   meanUE_UL    9158 non-null   float64
 10  maxUE_DL     9156 non-null   float64
 11  maxUE_UL     9156 non-null   float64
 12  maxUE_UL+DL  9156 non-null   float64
dtypes: float64(11), object(2)
memory usage: 930.2+ KB

In [ ]:
print(f"Dataset has {df_train.shape[0]} rows and {df_train.shape[1]} columns")
print(f"Duplicates: {df_train.duplicated().sum()}")
print(f"Total Missing Values: {df_train.isna().sum().sum()}")
print(f"Number of rows with missing values: {df_train.isna().any(axis=1).sum()}")

Dataset has 36904 rows and 14 columns
Duplicates: 106
Total Missing Values: 183
Number of rows with missing values: 89

In [ ]:
df_train.Time.value_counts()

12:00    423
3:00     417
9:45     410
7:30     409
0:30     407
        ...
20:30    358
16:30    358
19:00    357
15:45    355
21:00    351
Name: Time, Length: 96, dtype: int64

In [ ]:
df_train.CellName.value_counts()

5ALTE     1157
4CLTE     1150
4ALTE     1147
8ALTE     1142
8CLTE     1137
6VLTE     1134
6ALTE     1134
4BLTE     1134
6WLTE     1133
5CLTE     1131
3CLTE     1131
6ULTE     1129
7BLTE     1128
1ALTE     1122
10ALTE    1121
7ULTE     1120
1CLTE     1120
8BLTE     1118
10CLTE    1117
3BLTE     1117
1BLTE     1117
7WLTE     1116
2ALTE     1116
9BLTE     1116
6BLTE     1112
3ALTE     1107
10BLTE    1107
5BLTE     1104
6CLTE     1102
9ALTE     1099
7CLTE     1096
7ALTE     1083
7VLTE     1007
Name: CellName, dtype: int64